/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBanner {
  background-image: url('/img/banner.jpeg');
  background-size: cover; /* 讓圖片覆蓋整個區域*/
  background-position: center center; /* 圖片置中*/
  min-height: 280px;
}
